[flake8]
max-line-length = 120
extend-ignore =
    E203,
    E266,
    W503,
    F541

per-file-ignores =
    main.py:
      F824,  
      F841,  
      E261,  
      E501,  
      E302,  
      W292  

exclude =
    .git,
    __pycache__,
    build,
    dist
